<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        
        <a class="navbar-brand" href="{% url 'AppFinalInicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'AppFinalMonotributista' %}">Monotributista</a>
        <a class="navbar-brand" href="{% url 'AppFinalResponsable' %}">Responsable Inscripto</a>
        <a class="navbar-brand" href="{% url 'AppFinalImpuesto' %}">Impuestos</a>
        <a class="btn btn-primary" href="#signup">Sign Up</a>
    </div>
</nav>